.container{
  max-width: 1320px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
}

// @media only screen and (max-width: $tablet){
//   .container{
//     max-width: 729px;
//   }
// }

// @media only screen and (max-width: $mobile){
//   .container{
//     max-width: 367px;
//   }
// }