html{
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;

}

*,
*::before,
*::after{
  box-sizing: inherit;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Barlow", 'Fraunces 9pt', "Arial", sans-serif;
  font-size: 16px;
  // line-height: 1.5;
  background-color: white;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

img{
  max-width: 100%;
  height: auto;
}




